h1{
    background-color: aqua;
    color: rgb(250, 2, 2);
    text-align: center;
    font-style: inherit;
}
h2{
    color: blue;
    font-style: normal;
}
p{
    font-weight: bold;
    font-style: oblique;
}
ul{
    font-weight: bold;
}
