<!DOCTYPE html>
<html>
  <head>
    <title>hola soy una pagina</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Indes</a></li>
        <li><a href="/nproductos"></a>nproductos</li>
        <li><a href="/nosotros"></a>nosotros</li>
        <li><a href="/contacto"></a>contacto</li><li>
        <li><a href="/servicios"></a>servicios</li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
