body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
}
header {
    background-color: green;
    padding: 16px 0;
}
header h1 {
    color: wheat;
    font-size: 40px;
    font-weight: 100;
    font-style: oblique;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}
nav {
    background-color: rgb(54, 201, 54);
    margin-bottom: 2em;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline-block;
    width: 19.3%;
}

nav ul li a.activo{
    color: wheat;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}
nav ul li a:hover{
    background-color: green;
}
footer{
    background-color: green;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}
.holder{
    width: 960px;
    margin: 0 auto;
}
h2{
    color: black;
    font-weight: 400;
    margin: 0 0 lem;
}

.left{
    float: left;
}

.right{
    float: right;
}

.homeimg{
    margin-bottom: 1.5em;
}
.columnas{
    overflow: hidden;
}
.presentacion, .barra{
    box-sizing: border-box;
}
.presentacion{
    width: 75%;
    padding-right: 2em;
}
.historia{
    font-size: 0.8em;
}

.personas{
    overflow: hidden;
}
.persona{
    width: 18%;
    border: 1px solid gray;
    border-radius: 0.25mm;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
}

.persona {
    text-align: center;
}
.persona img{
   border-radius: 5%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 5);
   margin: 0.8em 0 1em;
   max-width: 70%;
}

.persona h5,
.persona h6{
    text-align: center;
    font-weight: normal;
    color: #2e64a1;
    margin: 0;
}

.persona h5{
    font-size: 0.9em;
}

.persona h6{
    font-size: 0.8em;
    font-style: italic;
}

.persona p{
    font-size: 0.7em;
    color: #444;
    margin: 0 1em 1em;
}

.persona :first-child{
    margin-left: 0;
}
.nproducto{
    border: 1px solid grey;
    border-radius: 0.7em;
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

.nproducto .info{
    width: 75%;
}

.nproducto .info h4{
    color: #2e64a1;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 1em;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 0.5em;
}

.nproducto .info p{
    font-size: 0.8em;
    line-height: 1.2em;
}

.nproducto img{
    border-radius: 0.8em;
}

.nproducto:nth-child(even) img{
    float: right;
    margin: 0 0 0 1em;
}

.nproducto:nth-child(even) .info{
    float: left;
}

.nproducto:nth-child(odd) img{
    float: left;
    margin: 0 1em 0 0;
}

.nproducto:nth-child(odd) .info{
    float: right;
}
