<div class="homeimg">
            <img src="images/portada.png" alt="portada">
        </div>
        <div class="columnas">
            <div class="presentacion left">
                <h2>Te ofrecemos distintos vehiculos sustentables que se adaptan a vos</h2>
                <p>Con el objetivo de cuidar nuestro planeta frente al cambio climatico, escacez de agua, degradacion de
                    la biodiversidad y agotamiento de recursos, nos enfocamos en la venta de vehiculos que sustenables y
                    amigables con el medio ambiente.</p>
                <p>Ademas de nuestro objetivo de cuidar el planeta nos enfocamos en la calidad de nuestros vehiculos y
                    en la satisfaccion de nuestro clientes a la hora de adquirir nuestros productos. Asi ofreciendo
                    servicios postventa sin cargo.</p>
            </div>
            <div class="barra right">
            <h2>Barra de busqueda</h2>
            <input type="text" placeholder="busqueda">
            </div>
        </div>